.bg{
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 80px);

    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.playButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 300px;
    padding: 10px;

    background-color: #43B263;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);

    transition: transform 0.5s;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.playText {
    font-family: "Lemon";
    letter-spacing: 5px;
    font-size: 48px;

    a:link {
        text-decoration: none; 
        color: #FFFFFF;
    } 
    a:visited { 
        text-decoration: none; 
        color: #FFFFFF;
    }
}

